.product-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.product {
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 15px;
  margin: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.product-img {
  height: 200px;
  width: 200px;
}

.details-container {
  display: flex;
  justify-content: space-around;
}
.details-container > div {
  width: 200px;
  font-size: 10;
  font-weight: 500;
  background-color: lightcoral;
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 15px;
  margin: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}